
html{
    padding: 0;
    scroll-behavior: smooth;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 23, 68);
    z-index: 1;
}

body {
    background-color:rgb(11, 19, 46);
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 800px;
    box-sizing: border-box;
    border: #8f58f5 solid 0.2px;
   
    position:static;
}

img {
    max-width: 100%;
    height: 60vh;
    justify-content: center;
}

  
    
    .welcome h1,
    button {
        position: static;
        margin: 10px 0;
       
    }

header {
    z-index: 1;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
     padding-bottom:-2em;
     padding: 1px;
     text-align: center;
}

.top {
    color:white;
    display: block;
    background-color:rgb(11, 19, 46);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 5px ;
    
   
}

.top h3 {
    animation: anim 4s ease-in-out forwards infinite;
}
@keyframes anim {
    0% {
        transform: skew(0deg, -3deg) scaleY(0);
    }
    60% {
        transform: skew(1deg, -3deg) scaleY(1.2);
    }
    100% {
        transform: skew(1deg, -1deg) scaleY(1.2);
    }
}

.icon {
    position: sticky;
    top: 0;
    z-index: 1; 
    text-align: center;
    justify-content: center;
    background-color:rgb(11, 19, 46);
   
}

.icon a {
    
    border-bottom:white 2px solid;
    overflow-x: auto; 
    scroll-behavior: smooth;
    color: white;
    margin: 2em;
    text-decoration: none;
    display: inline-block; 
    white-space: nowrap;
    font-size: large;
    margin-left: 5em;
    margin-bottom: 0.4em;
}


.bars{
    position: absolute;
    right: 1em;
    color: #fff;
    top: 16px;
    font-size: xx-large;
    border-radius: 2px;
    width:   9%;
    display: none;
    padding: 5px 0;
    text-align: center;
    border: 1px solid;
}

.welcome {

    top: 0;
    margin: 0 auto;
    text-align: center;
     justify-content: center;
     margin-bottom: -13em;
     background-color: rgb(11, 19, 46);
}

.welcome h1 {
    margin-top:0.6em ;
    background-color: rgb(9, 30, 9);
    padding: 0.25em 0.25em;
    color: aliceblue;
    text-shadow: 2px 2px 5px;
    position: absolute;
    margin-left: 5.8em;
    animation:our 5s ease-in-out 1s forwards;
    animation-iteration-count: infinite;
}

@keyframes our {
    0% {
        
        transform: skew(0deg, -5deg) scaleY(0);
    }
    60% {
        
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    100% {
        
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
}
.about, details{
    margin-top: -1.4em;
    color:#fff;
    text-align: center;
    background-color: rgb(11, 19, 46);
    font-weight: bolder;
    padding: 2em;
   
}

.about h1 {
    text-shadow: 2px 2px 5px;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 8em;
}

.about details{
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 5em;
}

.food {
    background-color: rgb(11, 19, 46);
    border: none;
    color: aliceblue;
    display: flex;
    margin-top: -7em;
    padding-bottom: -4em;
    gap: 1em;
    justify-content: center;
}

.food table {
    border-radius: 1em 1em 0.7em 0.7em;
    border: #fff ;
    margin: 0 auto;
    width: 100%;
}
.food th{
    font-weight: bolder;
    height: 3em;
}
.food td:last-child {
    text-align: center;
    padding: 0.2em 0.3em;
}

.food td:first-child {
    margin-left: 1em;
    padding-left: 1em;
}


.quote {
    margin-top: 2em;
    white-space: pre-wrap;
    width: 300px;
    text-transform: capitalize;
    margin-left: 2em;
}

.quote h1 {
    font-size: large;
}
summary{
    margin-left: 9em;
    font-size: x-large;
    margin-top: -3.3em;
}

.proud{
 text-align: center;
 justify-content: center;
 margin-bottom: -1.43em;
 background-color:rgb(11, 19, 46);

 
}

.proud-word{
    margin-left: 19em;
    margin-top:3em;
    background-color:rgba(11, 19, 46, 0.432);
    position: absolute;
    white-space: pre-wrap;
    font-size: large;
    color:#fff;
    justify-content: center;
    width: 400px;
    padding-bottom:0.3em;
}

.table__time {
    margin-top: em;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(11, 19, 46);
    color: aliceblue;
    padding-top: 3em;
}

.table__time p {
    letter-spacing: 3px;
    min-width: 80px;
}

.table__time table {
    margin: 0 auto;
    border-radius: 1.6em 1.6em 0 0;
    margin-bottom: 3em;
    border: 2px solid white;
}

.table__time table th {
    padding: 1em;
    gap: 3em;
    font-weight: 22px;
    text-align: center;
}
.table__time table th:first-child {
    border-radius:1.6em 0 0;
}

.table__time table th:last-child {
    border-radius: 0 1.6em 0 0;
}

.table__time table td {
    font-weight: 90;
    height: 6em;
}
.contact{
    text-align: center;
    margin-left: 2em;
    list-style-type: none; 
    margin-bottom: 2em; 
   
    
}
.contact h1{
    text-transform: uppercase;
    font-weight: bolder;
}
.contact li{
    margin-top:1em;
    display: inline-block;
    margin: 1em;
   
}
.contact a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
    font-size: medium;
    text-transform: none;
    margin: 2px;
   
    
}


.copy{
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: x-small;
  
    
    
}
button {
    background-color: rgb(11, 19, 46);
    padding: 7px 0;
    border-radius: 20px;
    border: none;
    margin-bottom: 1em;
    justify-content: center;
  
}
button a{
    color: aliceblue;
    font-size: 2em;
    padding: 10px;
    border-radius: 20px;
}
button a:hover{
    background-color: rgb(20, 38, 53);
    color: #fff;
    transition: 1s;
    
}
button :focus{
    border-radius: 20px;

}
audio{
    margin-left: 1em;
    background-color:#d7eedb;
    border-radius: 50px;
    width: 1.2em;
    height: 1.2em
    
   
}

@media (max-width:768px) {
     
    .bars{
        display: block;
    }
    .icon{
        display: none;
    }
    .icon a{
        margin: 1em;
    }
    
    .food{
        flex-direction: column;
    }

    .food_summary{
        text-align: center;
        color: #8f58f5;
        margin-left: 2em;
        white-space: wrap;
    }

    .quote {
        text-align: center;

        
    }

    img{
        height:68vh ;
    }

    .contact{
        margin-left: -1em;
    }

    .contact h1{
        font-size: medium;
        margin-left: 2em;
    }
    .contact li{
        margin: 1px;
        margin-left: em;
    }

    .contact a{
        font-size: small;
        margin: 5px;
    }


    header{
        font-size: small;
    }

    .welcome h1{
        left: -6em;
        background-color: rgb(6, 6, 99);
        font-size: small;
        margin-left: 21em;
    }

    .proud-word{
        width: 300px;

        margin-top:8em;
        margin-left: 2em;
        background-color: rgba(0, 0, 255, 0.233);
        border-radius: 5px;
        font-weight: bolder;
        font-size: small;
    }
    
}

@media (max-width:887px){

    img{
        height: 56%;
    }

    .icon a{
        font-size: 0.9em;
    }

    .icon a:first-child{
        margin-left: 1.4em;
    }

    .proud-word{
        width: 200px;
        white-space: wrap;
        margin: 1em;
        margin-left: 4em;
        border-radius: 10px;
    }
    .quote{
        margin-top: -4em;
        margin-left: 1em;
       
    }

    .about{
        margin-bottom: 2em;
        white-space: no-wrap;
    }

    details p{
        border: #9c8f8f solid 0.2px;
        padding: 1em;
    }

    .table{
        margin-right: 3em;
    }
    header{
        font-size: small;
    }
}

